body {

    color: #241b1be8;
    
  }

.jumbotron {
  background-image: url("../images/bac3.jpg");
  background-size: 100% 100%;
  text-align: center;
  
}  

body {
  background-color: rgb(193, 208, 223);
  
}
